<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" *ngIf="!config.appNavigationTabs">
      <ion-icon name="menu"></ion-icon>
    </ion-menu-button>
    <ion-title>
      <ion-img src="assets/ydro.png" alt="logo"></ion-img>
    </ion-title>
    <ion-buttons slot="end" *ngIf="!config.appNavigationTabs">
      <ion-button fill="clear" routerLink="/search" routerDirection="forward">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button fill="clear" routerLink="/cart" routerDirection="forward">
        <ion-icon name="basket"></ion-icon>
        <ion-badge color="secondary">{{shared.cartTotalItems()}}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)" class="home-page-1">
  <app-banner></app-banner>
  <ion-segment [(ngModel)]="segments">
    <ion-segment-button value="topSeller">{{ 'Newest' | translate }}</ion-segment-button>
    <ion-segment-button value="deals">{{ 'On Sale' | translate }} </ion-segment-button>
    <ion-segment-button value="mostLiked"> {{ 'Featured' | translate }}</ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="segments">

    <!-- first swipe slider -->
    <ion-slides *ngSwitchCase="'topSeller'" [options]="sliderConfig">
      <ion-slide *ngFor="let p of shared.tab1">
        <app-product [data]="p" [type]="'normal'"></app-product>
      </ion-slide>
      <ion-slide>
        <ion-button fill="clear" (click)="openProducts('latest')"> {{'Shop More'| translate}}
          <ion-icon name="caret-forward"></ion-icon>
        </ion-button>
      </ion-slide>
    </ion-slides>

    <!-- 2nd swipe slider -->
    <ion-slides *ngSwitchCase="'deals'" [options]="sliderConfig">
      <ion-slide *ngFor="let p of shared.tab2">
        <app-product [data]="p" [type]="'normal'"></app-product>
      </ion-slide>
      <ion-slide>
        <ion-button fill="clear" (click)="openProducts('latest')"> {{'Shop More'| translate}}
          <ion-icon name="caret-forward"></ion-icon>
        </ion-button>
      </ion-slide>
    </ion-slides>

    <!-- 3rd swipe slider -->
    <ion-slides *ngSwitchCase="'mostLiked'" [options]="sliderConfig">
      <ion-slide *ngFor="let p of shared.tab3">
        <app-product [data]="p" [type]="'normal'"></app-product>
      </ion-slide>
      <ion-slide>
        <ion-button fill="clear" (click)="openProducts('featured')"> {{'Shop More'| translate}}
          <ion-icon name="caret-forward"></ion-icon>
        </ion-button>
      </ion-slide>
    </ion-slides>

  </div>

  <!-- recently view Heading -->
  <ion-row *ngIf="shared.recentViewedProducts.length!=0" class="top-icon-header">
    <ion-button fill="clear">
      <ion-icon slot="start" name="list"></ion-icon>
      {{'Recently Viewed'|translate}}
    </ion-button>
  </ion-row>

  <!-- recently viewed swipe slider -->
  <ion-slides #recentSlider [options]="sliderConfig">
    <ion-slide *ngFor="let p of shared.recentViewedProducts">
      <app-product [data]="p" [type]="'recent'"></app-product>
    </ion-slide>
  </ion-slides>


  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>2ο χλμ Εθνικής 
        Λευκίμμης 
        Κέρκυρας</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>+30 2661 020414</ion-label>
    </ion-item>
  
    <ion-item class="call">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>+30 2661 042137</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="at" slot="start"></ion-icon>
      <ion-label>info@ydrocorfu.gr</ion-label>
    </ion-item>
  </ion-card>
  <!-- <div class="catalogue-info">
    <ion-row>
      <ion-col>
        <ion-icon name="home"></ion-icon>
        <ion-icon ios="ios-home" md="md-home"></ion-icon><br>
      </ion-col>
      <ion-col>
        <ion-icon name="home"></ion-icon>
      <ion-icon ios="ios-home" md="md-home"></ion-icon><br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        ADDRESS
      </ion-col>
      <ion-col>
        PHONE
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        2ο χλμ Εθνικής <br>
        Λευκίμμης <br>
        Κέρκυρας
      </ion-col>
      <ion-col>
        +30 2661 020414
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="home"></ion-icon>
        <ion-icon ios="ios-home" md="md-home"></ion-icon><br>
      </ion-col>
      <ion-col>
        <ion-icon name="home"></ion-icon>
      <ion-icon ios="ios-home" md="md-home"></ion-icon><br>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        FAX
      </ion-col>
      <ion-col>
        E-mail
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        +30 2661 042137
      </ion-col>
      <ion-col>
        info@ydrocorfu.gr
      </ion-col>
    </ion-row>
  </div> -->
  <ion-icon ios="ios-home" md="md-home"></ion-icon>
  <!-- For Vendor List -->
  <app-vendor-list></app-vendor-list>

  <!-- for scrollable segment and all products -->
  <app-sliding-tabs [type]="'text'"></app-sliding-tabs>

</ion-content>
<ion-fab vertical="bottom" horizontal="end" *ngIf="scrollTopButton">
  <ion-fab-button color="secondary" (click)="scrollToTop()">
    <ion-icon name="arrow-up"></ion-icon>
  </ion-fab-button>
</ion-fab>