.home-page-1 {
  .swiper-slide {
    width: 40%;
  }
  // if data load
  ion-segment {
    ion-segment-button {
      font-size: 0.75rem;
    }
  }
  ion-slides {
    ion-slide {
      &:last-child {
        height: auto;
      }
    }
  }
  app-product {
    width: 100%;
  }
  
  // ion-fab {
  //   position: fixed;
  //   ion-fab-button {
  //     --background: var(--ion-color-primary);
  //   }
  // }
 
}
