.product-component {
  .default {
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 0px;
    div {
      div {
        text-transform: uppercase;
        position: absolute;
        z-index: 1;
        font-size: 0.6875rem;
        background: var(--ion-color-secondary);
        //text-align: center;
        color: var(--ion-color-secondary-contrast);
        right: 0px;
        width: auto;
        top: 0px;
        border-radius: 2px;
        padding: 2px 4px;
        &:nth-child(2) {
          top: 20px;
        }
      }
    }
    #newimage {
      height: 52px;
      position: absolute;
      z-index: 1;
      left: 0px !important;
      width: 30%;
      top: -4px;
      margin-left: -4.2px;
    }
    #image {
      filter: brightness(0.9);
      background: #fff;
      width: 200px;
      height: 182px;
    }


    .name {
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 5px;
      margin-bottom: 0px;
    }
    .price {
      margin-top: 5px;
      margin-bottom: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }

    ion-grid {
      ion-row {
        ion-icon {
          font-size: 22px;
          color: var(--ion-color-secondary);
          //padding-top: 4px;
        }
        ion-button {
          width: 100%;
          height: 25px;
          margin: 0px;
          --border-radius: 0px;
        }
      }
    }
  }

  // for product list
  .list-product-design {
    border-bottom: solid #eee;
    border-top: solid #eee;
    --padding-start: 10px;
    --padding-end: 10px;
    ion-thumbnail {
      .badge-img {
        position: absolute;
        z-index: 1;
        height: 45px;
        width: 45px;
        left: 9px;
        top: 9px;
      }
      margin: 0;
      height: 100px;
      width: 100px;
      img {
        filter: brightness(0.9);
      }
    }
    #list-heart-icon {
      margin-bottom: 0;
      position: absolute;
      top: 60px;
      right: 10px;
      font-size: 25px;
      color: var(--ion-color-secondary);
    }
    ion-label {
      margin-bottom: auto;
      margin-left: 10px;
      p {
        margin-top: 10px;
      }
    }
    .sale {
      background: var(--ion-color-secondary);
      padding: 2px;
      color: var(--ion-color-secondary-contrast);
      position: absolute;
      z-index: 1;
      right: 0;
    }
    .featured {
      background: var(--ion-color-secondary);
      padding: 2px;
      color: var(--ion-color-secondary-contrast);
      position: absolute;
      z-index: 1;
      right: 0;
    }
    .img-div {
      font-size: 12px;
      :nth-child(1) {
        top: 0;
      }
      :nth-child(2) {
        top: 25px;
      }
    }
  }
  //========================================  style 1  =======================================
  .style21 {
    .name {
      margin-top: 0px;
    }
    .main-img {
      padding: 3px;
    }
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 0px;

    #image {
      filter: brightness(0.9);
      background: var(--ion-background-color);
      width: auto;
      height: auto;
    }
    ion-grid {
      ion-row {
        ion-icon {
          font-size: 22px;
          color: var(--ion-color-secondary);
        }
      }
    }
  }

  //========================================  style 2  =======================================
  .style11 {
    @extend .style21;

    .price * {
      color: var(--ion-color-danger) !important;
    }
  }

  //========================================  style  =======================================
  .style3 {
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 10px 10px 0 0;

    .main-image {
      position: relative;
      ion-badge {
        position: absolute;
        top: 0;
        left: 0px;
        z-index: 10;
        font-size: 10px;
        padding: 5px 8px;
        border-radius: 0;
        display: inline-grid;
      }
      span {
        margin-top: 5px;
      }
    }

    .name {
      margin-top: 5px;
      margin-bottom: 4px;
    }
    .main-img {
      padding: 3px;
    }

    #image {
      filter: brightness(0.9);
      background: var(--ion-background-color);
      width: auto;
      height: auto;
    }
    ion-grid {
      ion-row {
        ion-icon {
          color: var(--ion-color-secondary);
          margin-top: 5px;
          margin-right: 3px;
          font-size: 16px !important;
        }
      }
    }
  }

  //========================================  style  =======================================
  .style6 {
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 0;

    .main-image {
      position: relative;

      ion-fab-button {
        position: absolute;
        bottom: -10px;
        right: 0px;
        z-index: 10;
        width: 20px;
        height: 20px;
        margin: 3px;
        ion-icon {
          font-size: inherit;
        }
      }

      span {
        margin-top: 5px;
      }
    }

    .name {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .colum-2 {
      margin-top: 2px;
      margin-bottom: 2px;
    }
    .price {
      max-width: 50%;
      margin-top: 0px;
      margin-bottom: 0px;
      float: left;
    }
    .main-img {
      padding: 3px;
    }

    #image {
      filter: brightness(0.9);
      background: var(--ion-background-color);
      width: auto;
      height: auto;
    }
  }

  .style7 {
    border-radius: 10px;
    position: relative;
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;

    .floating-tags {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 0;
      z-index: 1;
      display: inline-grid;
      ion-badge {
        font-size: 9px;
        margin-bottom: 2px;

        z-index: 4;
      }
      .first {
        border-radius: 10px 0px 3px 0;
        padding: 5px 5px;
      }
      .second {
        border-radius: 0px 3px 3px 0px;
        padding: 5px 5px;
      }
    }
    #image {
      filter: brightness(0.9);
      background: var(--ion-background-color);
      width: auto;
      height: auto;
    }

    ion-icon {
      font-size: 20px;
      color: var(--ion-color-secondary);
    }
    ion-button {
      width: 100%;
      height: 25px;
      margin: 0px;
      --border-radius: 0px;
    }
  }
  //========================================  style  =======================================
  .style8 {
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 0;
    .product-ratings {
      display: flex;
      .rating-value {
        font-size: 10px;
        padding-top: 2px;
      }
    }

    .name {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .heart-top-right {
      top: 5px;
      right: 5px;
    }
    .price {
      margin-top: 3px;
      margin-bottom: 2px;
    }
    .main-img {
      padding: 3px;
    }

    #image {
      filter: brightness(0.9);
      background: #fff;
      width: auto;
      height: auto;
    }
  }

  //========================================  style  =======================================
  .style9 {
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 10px;

    .main-image {
      position: relative;

      ion-fab-button {
        position: absolute;
        bottom: -10px;
        right: 2px;
        z-index: 10;
        width: 25px;
        height: 25px;
        margin: 3px;
        ion-icon {
          font-size: 17px;
        }
      }

      span {
        margin-top: 5px;
      }
    }

    .name {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .price {
      max-width: 50%;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .main-img {
      padding: 3px;
    }

    #image {
      filter: brightness(0.9);
      background: #fff;
      width: auto;
      height: auto;
    }
  }
  //========================================  style  =======================================
  .style10 {
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 10px;

    .main-image {
      position: relative;
      ion-badge {
        position: absolute;
        top: 0;
        left: 0px;
        z-index: 10;
        font-size: 10px;
        padding: 8px 10px;
        border-radius: 10px 10px 10px 0;
        margin: 0;
      }
    }

    .name {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .category {
      margin-bottom: 5px;
    }
    .main-img {
      padding: 3px;
    }

    #image {
      filter: brightness(0.9);
      background: var(--ion-background-color);
      width: auto;
      height: auto;
    }
    ion-grid {
      ion-row {
        ion-icon {
          color: var(--ion-color-secondary);
          margin-top: 5px;
          font-size: 16px !important;
        }
      }
    }
  }

  //========================================  style  =======================================

  .style14 {
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 10px 10px 0 0;
    box-shadow: none;
    --background: var(--ion-background-color);

    .heart-top-right {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
    }

    ins * {
      color: var(--ion-color-danger) !important;
    }
    #image {
      filter: brightness(0.9);
      background: var(--ion-background-color);
      width: auto;
      height: auto;
      border-radius: 10px;
    }

    ion-grid {
      ion-row {
        ion-icon {
          font-size: 22px;
          color: var(--ion-color-secondary);
          //padding-top: 4px;
        }
        ion-button {
          width: 100%;
          height: 25px;
          margin: 0px;
          --border-radius: 0px;
        }
      }
    }
  }
  //========================================  style  =======================================
  .style4 {
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    box-shadow: none;
    border-radius: 0;
    --background: var(--ion-background-color);

    .heart-top-right {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
    }

    ins * {
      color: var(--ion-color-danger) !important;
    }
    #image {
      filter: brightness(0.9);
      background: var(--ion-background-color);
      width: auto;
      height: auto;
      border-radius: 10px 10px 0 0;
    }
    .name {
      margin-bottom: 5px;
    }
    ion-badge {
      width: 100%;
      height: 100%;
      border-radius: 0;
      span {
        font-size: 9px;
        vertical-align: sub;
      }
    }
    .price {
      width: 100%;
    }
    ion-button {
      margin: 0px;
      --border-radius: 0px;
    }
  }
  //========================================  style  =======================================
  .style13 {
    border-radius: 0px;
    margin-top: 0px !important;
    margin-right: 0px;
    height: auto;

    .heart-top-right {
      right: 5px;
      top: 5px;
      font-size: 16px !important;
    }

    .floating-tags {
      position: absolute;
      top: 5px;
      left: 0px;
      padding: 0;

      ion-badge {
        border-radius: 0 3px 3px 0;
        font-size: 9px;
        margin-bottom: 2px;
        padding: 3px 5px;
      }
    }

    .name {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    ins * {
      color: var(--ion-color-danger) !important;
    }
    .innerprice {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .price {
      max-width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 100%;
      width: 45px;
      height: 45px;
      .woocommerce-Price-amount {
        font-size: 10px;
      }
    }
    .main-img {
      padding: 3px;
    }

    #image {
      width: auto;
      height: auto;
    }
    .woocommerce-Price-amount {
      margin-left: 0px !important;
    }
    .woocs_price_code {
      display: block !important;
    }
    .paddingb5 {
      padding-bottom: 5px;
    }
  }
  //========================================  style  =======================================
  .style15 {
    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 0;
    padding-top: 5px;

    .name {
      margin-top: 5px;
      margin-bottom: 0px;
    }
    ins * {
      color: var(--ion-color-danger) !important;
    }
    .price {
      max-width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .rating-colum {
      padding-bottom: 5px;
    }
    .main-img {
      padding: 3px;
    }

    #image {
      width: auto;
      height: auto;
    }
  }

  //========================================  style  =======================================
  .style16 {
    margin-right: 0px;
    margin-top: 10px !important;
    border-radius: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;

    //overflow: auto;
    box-shadow: none;
    --background: var(--ion-background-color);

    ion-grid {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      width: 92%;
      background-color: var(--ion-background-color);
      border-radius: 10px;
      border-radius: 6px;
      padding-top: 5px;
      z-index: 2;
      margin-top: -25px;
      position: relative;
    }
    ins * {
      color: var(--ion-color-danger) !important;
    }
    .product-ratings {
      padding-bottom: 5px;
    }
    .name {
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .price {
      max-width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .main-img {
      padding: 3px;
    }
    ion-icon {
      padding: 0 5px;
    }

    #image {
      filter: brightness(0.9);
      background: var(--ion-background-color);
      width: auto;
      border-radius: 10px;
      height: auto;
      z-index: 1;
    }

    ion-button {
      --border-radius: 0 0 6px 6px !important;
    }
  }

  //========================================  style   =======================================
  .style17 {
    ins * {
      color: var(--ion-color-danger) !important;
    }
    .heart-top-right {
      right: 5px;
      top: 5px;
    }
    .price {
      margin-top: 2px;
    }
    ion-grid {
      ion-icon {
        font-size: inherit !important;
        color: #f8ce0b !important;
      }
    }
  }

  //========================================  style   =======================================
  .style19 {
    border-radius: 0px;

    .heart-top-right {
      right: 5px;
      top: 5px;
      font-size: 16px !important;
    }

    .floating-tags {
      position: absolute;
      top: 5px;
      left: 5px;
      padding: 0;
    }

    ion-badge {
      border-radius: 0;
      font-size: 9px;
      margin-bottom: 2px;
      padding: 2px 5px;
      background: transparent;
      border: 1px solid black;
      color: black;
    }
  }

  //========================================  style 5  =======================================

  .style5 {
    @extend .style21;

    .name {
      margin-top: 5px;
    }
    .price {
      width: 100%;
      padding: 0;
    }
    ion-icon {
      margin-top: 5px;
      font-size: 16px !important;
    }
  }

  //========================================  style 6  =======================================

  .style12 {
    @extend .style21;
    .name {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .price {
      margin-top: 0px;
    }
    .price * {
      color: var(--ion-color-danger) !important;
    }
    .cart-button {
      height: 100%;
      margin: 0px;
      --border-radius: 0px;
      font-size: 1vw;
    }
  }

  .style18 {
    border-radius: 0;

    .cart {
      display: flex;
      ion-text {
        margin: auto;
        p {
          margin: auto;
          margin: auto 4px;
        }
      }
      .price {
        width: 100%;
      }
      padding-right: 2px;
      padding-left: 2px;
    }
  }

  //========================================  style 7  =======================================
  .style20 {
    .main-img {
      position: relative;

      .buttons-img {
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;

        ion-button {
          margin-right: 0px;
          font-size: 2vw;
          --border-radius: 0px;
          ion-icon {
            font-size: 3vw;
          }
        }
      }
    }

    .name {
      margin-top: 0px;
    }

    margin-right: 0px;
    margin-top: 10px !important;
    height: auto;
    border-radius: 0px;

    #image {
      filter: brightness(0.9);
      background: var(--ion-background-color);
      width: auto;
      height: auto;
    }
    ion-grid {
      ion-row {
        ion-icon {
          font-size: 22px;
          color: var(--ion-color-secondary);
        }
      }
    }
  }
  // ===================================================== common css ==========================================

  .product-ratings {
    padding-right: 5px;
    padding-left: 5px;
    .stars-outer {
      display: inline-block;
      position: relative;
      font-size: 12px;
      &::before {
        content: "\2606\2606\2606\2606\2606";
        color: #ccc;
      }
      .stars-inner {
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        overflow: hidden;

        &::before {
          content: "\2605\2605\2605\2605\2605";
          color: #f8ce0b;
        }
      }
    }
  }
  .category {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    color: var(--ion-text-color);
    font-size: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .heart-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 22px;
  }
  .name {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: var(--ion-text-color);
    font-size: 12px !important;
    font-weight: bold !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  //price
  .price {
    display: inline-block;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;

    .woocommerce-Price-amount {
      display: block;
      font-size: 12px;
      font-weight: bold;
    }
    .woocs_price_code {
      display: flex;
    }
    del {
      .woocommerce-Price-amount {
        color: rgba(var(--ion-text-color-rgb), 0.5);
        text-decoration: line-through;
      }
    }
    ins {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-decoration: none;
      .woocommerce-Price-amount {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: var(--ion-color-danger);
        margin-left: 5px;
      }
    }
  }

  .bottom-big-button {
    width: 100%;
    height: 25px;
    margin: 0px;
    --border-radius: 0px;
    z-index: 10;
  }
  //add to cart highlighter

  .card-add-cart {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 110%;
      height: 102%;
      background-color: var(--ion-background-color);
      opacity: 0.8;
    }
    ion-icon {
      position: unset;
      margin: auto;
      font-size: 2.5rem !important;
      color: var(--ion-color-secondary);
      z-index: 10;
    }
  }


}
[dir="rtl"] {
  ion-card p {
    text-align: right !important;
  }
  ins {
    .woocommerce-Price-amount {
      margin-left: 0px;
      margin-right: 5px;
    }
  }
}