<div class="banner-component">

  <!-- <div *ngIf="shared.banners.length==0">
    <ion-skeleton-text animated style="height: 211px;">
    </ion-skeleton-text>
  </div>
  <div *ngIf=" shared.banners.length !=0">
    <ion-slides pager="true" [options]="slideOpts" [class]="config.bannerStyle">
      <ion-slide *ngFor="let b of shared.banners" class="ion-no-padding animate-item" (click)="bannerClick(b)">
        <img src="{{b.banners_image}}">
        <img src="assets/avatar.png" />
      </ion-slide>
    </ion-slides>
  </div> -->
      <ion-slides pager="true" [options]="slideOpts" [class]="config.bannerStyle">
      <ion-slide  class="ion-no-padding animate-item">

        <img src="assets/banners/banner1.jpg" />
      </ion-slide>
      <ion-slide  class="ion-no-padding bannerWidth animate-item">

        <img src="assets/banners/banner2.png" />
      </ion-slide>
     
    </ion-slides>
</div>